.Signup {
  background-color: rgb(255, 255, 255);
}

.container {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border: solid 3px #000000;
  background-color: rgba(252, 252, 252, 0.8);
  padding: 10px;
  height: 75%;
  width: auto;

  border-radius: 15px;
}

.multiselect {
  width: 200px;
}
.hideDropdown {
  display: none;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  border: 5px rgb(219, 219, 219) solid;

  text-align: left;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.button {
  background-color: #110101;
  border: 0;
  padding: 1%;
  color: rgb(255, 255, 255);
  font-weight: 300;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}
