.Signup {
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10vh;
  background-color: rgb(238, 238, 238);
}

.multiselect {
  width: 200px;
}
.hideDropdown {
  display: none;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  border: 30px rgb(219, 219, 219) solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
